body {
	margin: 0;
	padding: 0;
}
nav{
	position: absolute;
	top:0;
	right: 0;
	width: 96px;
	height: 85px;
	background-color: white;
	border-bottom-left-radius: 100% 100%;
	transition: 1s;
	z-index: 1;
}
.navi{
	display: none;
}
.navi ul li{
	display: inline;
	margin-right: 65px;
	list-style: none;
}
.navi ul li a{
	font: 16px aril,serif bold;
	text-decoration: none;
}
.head h1{
	font: 48px arial bold;
	color: white;
	padding: 15px 0 0 35px;
}
.head span{
	font: 50px san-serif bold;
	text-shadow: 10px 6px 5px black;
	color: red;
}
.head p{
	font: 20px arial,san-serif bold;
	color: white;
	margin: 200px 20% 0 20%;
	text-align: center;
}
.footer{
	height: 125px;
	color: white;
	background-color: black;
}


