body {
	margin: 0;
	padding: 0;
}
nav{
	height: 45px;
	width: 100%;
	background-color: black;
	overflow: hidden;
	position: fixed;
	z-index: 1;
}
.navi ul li{
	display: inline;
	float: right;
	margin-right: 65px;
	list-style: none;
	
}
.navi ul li a{
	color: white;
	font: 16px aril,serif bold;
	text-decoration: none;
}
.navi ul li a:hover {
	font: 18px san-serif bold;
	background-color: grey;
	color: grey;
}
.images1{
	min-height: 550px;
	width: 100%;
	background: url(./img/old-books.jpg) no-repeat;
}
.images2{
	min-height: 550px;
	background: url(./img/compass.jpg) no-repeat;
}
.images3{
	min-height: 550px;
	background: url(./img/the-road.jpg) no-repeat;
}
.images4{
	min-height: 550px;
	background: url(./img/old-books.jpg) no-repeat;
}
 .images1, .images2, .images3, .images4{	
 	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
.sesi{
	height: 100px;
	background-color: black;
	overflow: hidden;
}
.sec1{
	height: 130px;
	background-color: white;
	overflow: hidden;
}
.head h1{
	font: 48px arial bold;
	color: white;
	padding: 15px 0 0 35px;
}
.head span{
	font: 50px san-serif bold;
	text-shadow: 10px 6px 5px black;
	color: red;
}
.head p{
	font: 15px arial,san-serif bold;
	color: white;
	text-align: center;
	margin: 150px 12px 0 12px;
	padding: 0 250px;
}
article img{
	height: 125px;
	border-radius: 65%;
	position: relative;
	top: -62px;
	left: 42%;
	box-shadow: 5px 10px 15px grey;
	border: 1px solid white;
}
.sec{
	background-color: white;
	overflow: hidden;
}
.footer{
	height: 125px;
	color: white;
	background-color: black;
}
